body {
  padding: 0;
  margin: 0; }

.wrapper {
  width: 100%;
  background: gray; }

.container {
  width: 80%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .container .repos {
    display: none !important;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    background: white; }
    .container .repos .repoContainer {
      padding-left: 5%;
      border-bottom: 2px solid gray; }
      .container .repos .repoContainer .repoName {
        display: inline-block;
        width: 40%;
        font-family: sans-serif; }
        .container .repos .repoContainer .repoName h2 {
          color: #2F7BF5; }
      .container .repos .repoContainer .repoStats {
        display: inline-block;
        width: 40%;
        text-align: center;
        margin-left: 20%; }
        .container .repos .repoContainer .repoStats p {
          display: inline-block;
          padding-right: 8%; }
        .container .repos .repoContainer .repoStats span {
          padding-right: 4%; }
  .container .activityFeed {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    background: white;
    font-family: sans-serif; }
    .container .activityFeed .activityContainer {
      width: 95%;
      border-bottom: 2px solid gray;
      display: inline-block; }
      .container .activityFeed .activityContainer .activityInfo {
        display: inline-block;
        width: 100%; }
        .container .activityFeed .activityContainer .activityInfo p.large {
          font-size: 12px;
          padding-right: 1%;
          display: inline-block; }
          .container .activityFeed .activityContainer .activityInfo p.large a {
            color: #2F7BF5; }
      .container .activityFeed .activityContainer img {
        width: 6%; }
      .container .activityFeed .activityContainer p {
        display: inline-block;
        padding-right: 1%; }
      .container .activityFeed .activityContainer span {
        color: gray;
        display: inline-block;
        padding-right: 2%; }
      .container .activityFeed .activityContainer .activityInfo {
        display: inline-block;
        width: 100%; }
        .container .activityFeed .activityContainer .activityInfo span {
          color: gray;
          display: inline-block;
          padding-right: 2%; }
        .container .activityFeed .activityContainer .activityInfo p.small {
          font-size: 6px;
          padding-right: 1%;
          display: inline-block;
          color: gray; }
          .container .activityFeed .activityContainer .activityInfo p.small a {
            color: #2F7BF5; }
        .container .activityFeed .activityContainer .activityInfo img.small {
          width: 3%; }
  .container aside {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    background: white;
    font-family: sans-serif; }
    .container aside img {
      margin-top: 5%;
      width: 75%;
      border-radius: 5%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    .container aside .userInformation {
      display: block;
      margin-left: 25%; }
    .container aside .stats {
      display: inline-block;
      width: 50%;
      text-align: center; }
      .container aside .stats h2 {
        color: #2F7BF5;
        font-weight: bold; }
