body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  background: gray;
}

.container {
  width: 80%;
  background: lightblue;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

aside {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  background: blanchedalmond;

  img {
    width: 75%;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

section {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  background: tomato;
}
