body {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  background: gray;
}

.container {
  width: 80%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  display: block;

// REPO FEED
  .repos {
    display: none !important;
    width: 70%;
    display: inline-block;
    vertical-align: top;
    background: white;

    .repoContainer {
      padding-left: 5%;
      border-bottom: 2px solid gray;

      .repoName {
        display: inline-block;
        width: 40%;
        font-family: sans-serif;

        h2 {
          color: blue;
        }

      }

      .repoStats {
        display: inline-block;
        width: 40%;
        text-align: center;
        margin-left: 20%;


        p {
          display: inline-block;
          padding-right: 8%;
        }

        span {
          padding-right: 4%;
        }
      }
    }
  }

  // ACTIVITY FEED
  .activityFeed {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    background: white;
  }

  .activityContainer {
    width: 100%;

    .mega-octicon {
      display: inline-block;
      padding-right: 3%;
    }

    .activityInfo {
      display: inline-block;
      width: 70%;

    span {
      display: inline-block;

    }

    p {
      display: inline-block;
      padding-left: 1%;

    }

    .commitIcon {
      width: 10%;
      display: inline-block;
    }

  }

}

}

aside {
  width: 28%;
  display: inline-block;
  vertical-align: top;
  background: white;

  img {
    margin-top: 5%;
    width: 75%;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .userInformation {
    display: block;
    margin-left: 25%;
  }

  .stats {
    display: inline-block;
    width: 50%;
    text-align: center;

    h2 {
      color: blue;
      font-weight: bold;
    }
  }

}

.activitySmall {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  background: tomato;
}

.activityLarge {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  background: tomato;
}
